endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set mysql_connection_string "server=127.0.0.01;database=venomous;userid=root;"
sv_licensekey "license"

start mapmanager
start spawnmanager
start sessionmanager
restart sessionmanager
start fivem
start hardcap
start rconlog
start ghmattimysql
start NativeUI

sv_scriptHookAllowed 1

# change this
#rcon_password "rcon_password"

# a comma-separated list of tags for your server
# for example: sets tags "drifting, cars, racing" or sets tags "roleplay, military, tanks"
sets tags "default"

# set an optional server info and connecting banner image url.
# size doesn't matter, any banner sized image will be fine.
#sets banner_detail "http://url.to/image.png"
#sets banner_connecting "http://url.to/image.png"

sv_hostname "Venomous-Freemode!"

# nested configs!
exec venomous.cfg
